<ion-header>
  <ion-toolbar>
    <ion-title>Menu innicial</ion-title>


    
  </ion-toolbar>


  
</ion-header>



<ion-content>
  

  <ion-grid>
    <ion-row>
      <ion-col>

        <div class="ion-activatable ripple-parent circle">
          <ion-ripple-effect></ion-ripple-effect><H1>BEBIDAS ALCOHOLICAS</H1>
        </div>
      

        
      </ion-col>
      <ion-col>
        <ion-button shape="round" (click)="m02_bebidas()">BEBIDAS FRIAS</ion-button>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="airplane-outline" (click)="m03_almuerzos()"></ion-icon>
        <ion-button shape="round">ALMUERZOS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" (click)="m04_desayunos()">DESAYUNOS</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/icon/cena.png" (click)="m05_cenas()"> </ion-img>
        <ion-button shape="round" (click)="m05_cenas()">CENAS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" (click)="m06_refacciones()">REFACCIONES</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape="round" >B</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round">Round</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

 

  
  

  
</ion-content>
